 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-image: url("images.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  z-index: 1;
  color: #fff;
  text-align: center;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 300px;
}

.card-content {
  padding: 30px;
}

.card-title {
  margin: 0;
  font-weight: 700;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 20px;
}

.contact-info a {
  text-decoration: none;
  color: #333;
}

.main-content {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    max-width: 300px;
  }
  .card {
    width: 250px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 200px;
  }
  .card {
    width: 200px;
  }
}
