
/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff; /* Text color: White */
  background-image: url("images.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; /* Center text */
}

/* Glassmorphism Effect */
.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center text */
}

/* Navigation Styles */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  z-index: 1;
  color: #fff; /* Text color: White */
  text-align: center; /* Center text */
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Center nav links */
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff; /* Text color: White */
}

/* Hero Styles */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Text color: White */
  text-align: center; /* Center text */
}

/* Main Styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center; /* Center text */
}

section {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 20px;
  color: #fff; /* Text color: White */
  text-align: center; /* Center text */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #fff; /* Text color: White */
}

p {
  color: #fff; /* Text color: White */
}

a {
  text-decoration: none;
  color: #fff; /* Text color: White */
}

a:hover {
  color: #ccc; /* Hover text color: Light Gray */
}

.member {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 200px;
  text-align: center;
  color: #fff;
  margin: 20px auto;
}

.member:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.member-details {
  margin-top: 10px;
}

.member-details h3 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  color: #fff;
}

.member-details p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}

#search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

/* Contact Styles */
/* Contact Styles */
.main-content {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-box {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-box h2 {
  margin-bottom: 20px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 20px;
}

.contact-info a {
  text-decoration: none;
  color: #fff;
}

.contact-info a:hover {
  color: #ccc;
}

/* Audiobook Styles */
.audiobook-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.audiobook-list li {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
}

.audiobook-list li:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.audiobook-list a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: #fff;
}

.audiobook-list a:hover {
  color: #ccc;
}

.podcast-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 40px auto;
  max-width: 800px;
  text-align: center;
}

.box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.box li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.box li:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.box a {
  transition: color 0.3s ease;
  text-decoration: none;
  color: #ccc;
}

.box a:hover {
  color: #fff;
}


/* Popup Modal Styles - Always on Top */
.promo-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Higher than everything */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.75); /* Black background with transparency */
  pointer-events: auto; /* Ensure it responds to user interactions */
}

.promo-content {
  background-color: #fefefe;
  margin: 10% auto; /* Centered vertically */
  padding: 30px;
  border: 2px solid #444;
  width: 80%; /* Could be adjusted */
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  position: relative; /* For the close button */
}

.promo-content h2 {
  font-size: 24px;
  color: #333;
}

.promo-content p {
  font-size: 18px;
  color: #555;
}

.promo-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 25px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.promo-button:hover {
  background-color: #45a049;
}

.promo-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.promo-close:hover {
  color: #000;
}

/* Close button */
.promo-close-btn {
  background-color: #ff4d4d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.promo-close-btn:hover {
  background-color: #ff1a1a;
  }
    

function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth' // Smooth scrolling
    });
}


window.onscroll = function() {
    const scrollToTopBtn = document.getElementById('scrollToTopBtn');
    
    // Show button when scrolled down more than 100px
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        scrollToTopBtn.style.display = 'flex'; 
    } else {
        scrollToTopBtn.style.display = 'none';
    }
};

/* Initialize the button to be hidden initially */
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('scrollToTopBtn').style.display = 'none';
});
