
/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #fff; /* Text color: White */
  background-image: url("images.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center; /* Center text */
}

/* Glassmorphism Effect */

.glassmorphism {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
}

/* Container Styles */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center text */
}

/* Navigation Styles */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  z-index: 1;
  color: #fff; /* Text color: White */
  text-align: center; /* Center text */
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around; /* Center nav links */
}

.nav li {
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff; /* Text color: White */
}

/* Hero Styles */

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* Text color: White */
  text-align: center; /* Center text */
}

/* Main Styles */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center; /* Center text */
}

section {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 20px;
  color: #fff; /* Text color: White */
  text-align: center; /* Center text */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #fff; /* Text color: White */
}

p {
  color: #fff; /* Text color: White */
}

a {
  text-decoration: none;
  color: #fff; /* Text color: White */
}

a:hover {
  color: #ccc; /* Hover text color: Light Gray */
}

.member {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 200px;
  text-align: center;
  color: #fff;
  margin: 20px auto;
}

.member:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.member-details {
  margin-top: 10px;
}

.member-details h3 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  color: #fff;
}

.member-details p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #fff;
}
